<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container py-1">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" href="/">
      Компьютерный магазин
    </a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About us</a>
        </li>
      </ul>
      <!-- Left links -->

      <div class="d-flex align-items-center">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Каталог
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <% for (let i = 0; i < categories.length; i++) {%>
              <li><a class="dropdown-item" href=<%= 'categories/' + categories[i].id %>><%= categories[i].title %></a></li>
            <% } %>
          </ul>
        </div>
        <button type="button" class="btn btn-link px-3 me-2">
          Логин
        </button>
        <button type="button" class="btn btn-link me-3">
          Регистрация
        </button>
        <a></a>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  </nav>
    
  </header>